<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Evensharely.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>EvensharelyShareTarget.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MyShareTarget.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1279CC7C2DA1CEC500184701</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1279CC892DA1CEC600184701</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1279CC932DA1CEC600184701</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12EE1BA82DA42C25006569D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
